<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Success</h1>
<table id="showusers">
    <thead>
        <tr>
            <th>NUMBER</th>
            <th>ID</th>
            <th>NAME</th>
            <th>ADDRESS</th>
        </tr>
    </thead>
    <tbody>
        <tr class="showinfo" th:each="user,status:${users}">
            <td th:text="${status.index+1}">QQ</td>
            <td th:text="${user.id}">QQ</td>
            <td th:text="${user.name}">QQ</td>
            <td th:text="${user.address}">QQ</td>
        </tr>
    </tbody>
</table>
</body>
</html>